In [1]:
print(input("Nama: "))
print(input("NIM: "))
print(input("Kelas: "))

Tsamara Najwa Dzakiyya
I0322125
D

## 1.

diketahui dimensi sebuah aquarium tanpa penutup atas sebagai berikut:

```python
p = 11
l = 1.99
t = 25.87
```
buatkan program sederhana untuk menghitung diagonal tiap sisi dan luas permukaan aquarium tersebut tanpa menggunakan module math.

In [2]:
#diagonal tiap sisi
print('=======================================')
print('            Diagonal Sisi              ')
print('=======================================')
print()
panjang = 11
lebar   = 1.99
tinggi  = 25.87

print('panjang   = 11')
print('lebar     = 1.99')
print('tinggi    = 25.87')
diagonalAlas    = ((panjang**2+lebar**2)**0.5)
print('1. Diagonal Sisi Alas = ', diagonalAlas)
diagonalDepan   = ((panjang**2+tinggi**2)**0.5)
print('2. Diagonal Sisi Depan atau Belakang = ', diagonalDepan)
diagonalSamping = ((lebar**2+tinggi**2)**0.5)
print('3. Diagonal Sisi Samping = ', diagonalSamping)
print()

#luas permukaan balok
print('=======================================')
print('Luas Permukaan Balok Tanpa Penutup Alas')
print('=======================================')
print()
print('panjang   = 11')
print('lebar     = 1.99')
print('tinggi    = 25.87')
panjang = float(input('Panjang balok : '))
lebar   = float(input('Lebar balok : '))
tinggi  = float(input('Tinggi balok : '))

LP      = (panjang*lebar) + 2*(panjang*tinggi) + 2*(lebar*tinggi)
print('Luas Permukaan Balok = ',LP)

=======================================
            Diagonal Sisi
=======================================

panjang   = 11
lebar     = 1.99
tinggi    = 25.87
1. Diagonal Sisi Alas =  11.17855536283647
2. Diagonal Sisi Depan atau Belakang =  28.11150831954771
3. Diagonal Sisi Samping =  25.946425572706545

=======================================
Luas Permukaan Balok Tanpa Penutup Alas
=======================================

panjang   = 11
lebar     = 1.99
tinggi    = 25.87
Luas Permukaan Balok =  693.9926

## 2.

diberikan data nilai mahasiswa sebagai berikut:

In [1]:
nilai = {
    'Frank': 80,
    'Abagnale': 75,
    'Cobb': 90,
    'Andy Dufresne': 85,
    'Ariadne': 70
}

buatlah program sederhana untuk menghitung nilai rata-rata semua mahasiswa dan mencari siapa yang mendapatkan nilai tertinggi dan nilai terendah. 
> *note: tidak perlu menggunakan loops untuk membuat program nya*

In [34]:
#nilai rata rata
nilai = {
    'Frank': 80,
    'Abagnale': 75,
    'Cobb': 90,
    'Andy Dufresne': 85,
    'Ariadne': 70
}

print('=======================================')
print('           Rata-Rata Nilai             ')
print('=======================================')
print()
print('Frank            : 80')
print('Abagnale         : 75')
print('Cobb             : 90')
print('Andy Dufresne    : 85')
print('Ariadne          : 70')

nilai = [80,75,90,85,70]
Rata_Rata = sum(nilai)/len(nilai)
print()
print('Rata-Rata Nilai        = ', Rata_Rata)
nilai_tertinggi  = max(nilai)
print(f"{nilai_tertinggi} adalah nilai mahasiswa tetinggi")
nilai_terendah   = min(nilai)
print(f"{nilai_terendah} adalah nilai mahasiswa terendah")

=======================================
           Rata-Rata Nilai
=======================================

Frank            : 80
Abagnale         : 75
Cobb             : 90
Andy Dufresne    : 85
Ariadne          : 70

Rata-Rata Nilai        =  80.0
90 adalah mahasiswa dengan nilai tetinggi
70 adalah mahasiswa dengan nilai terendah

## 3.

diberikan list aslab sebagai berikut:
```python
list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]
```
* **A** Tuliskan kode untuk mengakses informasi tentang "nama" dari semua aslab mulai dari index 1 sampai 5
* **B** Tambahkan informasi berikut pada data aslab:
```python
    surel = ["berlian@student.uns.ac.id",
          "halidya@student.uns.ac.id",
          "nurki@student.uns.ac.id",
          "manarul@student.uns.ac.id",
          "alica@student.uns.ac.id",
          "dendy@student.uns.ac.id"]
```
> *note: kalian hanya boleh menggunakan key-value pair yang disebutkan di dalam teks, tanpa menggunakan informasi tambahan yang diambil pada list yang ada*